/*
* LittleLink Button Styles
* https://littlelink.io
* Free to use under the MIT license
* http://www.opensource.org/licenses/mit-license.php
*/

/* Brand Button Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Only include brand-specific button styling here */
.button,button {
	color:var(--button-text,#000000);
	background-color:var(--button-background,transparent);
	border:var(--button-border,none);
	transition:filter 0.2s ease,transform 0.2s ease;
	/* --button-border:0.5px solid #b4b3b3ff; */
}

/* .button,
button {
	display: inline-block;
	text-decoration: none;
	height: 48px;
	text-align: center;
	vertical-align: middle;
	font-size: 18px;
	width: 300px;
	font-weight: 700;
	line-height: 48px;
	letter-spacing: 0.1px;
	white-space: wrap;
	border-radius: 8px;
	cursor: pointer;
} */

/* Global Button Hover Effect
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button:hover,button:hover {
	filter:brightness(90%);
	transform:translateY(-1px);
}

/* Button Icons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.icon {
	padding: 0px 8px 3.5px 0px;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	filter:var(--icon-filter,none);
}

/* Brand-Specific Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Default */
.button.button-default {
	--button-text:#ffffff;
	--button-background:#0085ff;
	/* --button-border:1px solid #b4b3b3ff; */
}

/* Blog button */
.button-blog {
	--button-text:#ffffff;
	background-image: linear-gradient(-135deg, #2A2C2D, #1E1E1E, #2A2C2D);
	/* --button-border:1px solid #d8d8d8ff; */
}

/* Resume button */
.button-resume {
	--button-text:#fff;
	/* background-image: linear-gradient(-135deg, rgb(254, 254, 254), rgb(255, 255, 255), rgb(255, 255, 255)); */
	--button-background: #081e22;
	/* --button-border:1px solid #FFFFFF; */
}

/* Homelab button */
.button-homelab {
	--button-text:#ffffff;
	/* --button-background:#3865AB; */
	background-image: linear-gradient(-135deg, #325487, #3C67AF, #325487);
	/* --button-border:1px solid #FFFFFF; */
}

/* Mail button */
.button-mail {
	--button-text:#fffdfd;
	/* background-image: linear-gradient(-135deg,#3e65cf); */
	--button-background: #3b60c4;
	/* --button-border:1px solid #FFFFFF; */
}

/* GitHub */
.button-github {
	--button-text:#ffffff;
	--button-background:#000000;
	/* background-image: linear-gradient(-135deg, #1a1919, #181a1c, #1c1b1bff); */
	background-image: linear-gradient(-135deg, #1a1919, #1b1c1e, #1c1b1bff);
	/* --button-border:1px solid #FFFFFF; */
}

/* LinkedIn */
.button-linked {
	--button-text:#ffffff;
	--button-background:#2867b2;
	/* background-image: linear-gradient(-135deg, #040a35ff, #1e148bff, #221e8cff); */
}

/* LeetCode */
.button-leetcode {
	--button-text: #000000;
	--button-background: #FFFFFF;
	--button-border: 1px solid #000000;
}

/* X */
.button-x {
	--button-text:#FFFFFF;
	--button-background:#000000;
	/* background-image: linear-gradient(-135deg, #05244fff, #133689ff, #1851b9ff); */
}

/* GitLab */
.button-gitlab {
	--button-text: #ffffff;
	--button-background: #6151b2;
}

/* WhatsApp */
.button-whatsapp {
	--button-text: #ffffff;
	--button-background: #455a64;
}

/* Stack Overflow */
.button-stack-overflow {
	--button-text: #000000;
	--button-background: #FFFFFF;
	/* --button-border:1px solid #000000; */
}

/* YouTube */
.button-yt {
	--button-text:#ffffff;
	--button-background:#282828;
	/* --button-border:1px solid #FFFFFF; */
}

/* YouTube Alt */
.button-yt-alt {
	--button-text:#ffffff;
	--button-background:#FF0000;
}
/* Hashnode */
.button-hashnode {
	--button-text: #000000;
	--button-background: #ffffff;
	--button-border: 1px solid #212121;
}