#share-style {
  --share-button-background: rgb(0, 121, 220) !important;
  --share-button-border-radius:50% 50%;
  width: 100px;
  height: 100px;
/*
  --share-button-background lets you control the background of the button
  default: the 'share' icon.
*/
    /* --share-button-background: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_share_black_24px.svg) center/18px no-repeat; */

    /*
  --share-button-border controls border on the button
  default: 2px outset buttonface;
*/
    --share-button-border: 2px outset buttonface;

    /*
  --share-button-appearance controls the rendering of the element
  default: button;
*/
    --share-button-appearance: button;

    /*
  --share-button-border-radius provides access to border-radius on the button
  default: initial
*/
    --share-button-border-radius: initial;

    /*
  --share-button-color lets you control `color` of the button element.
  default: initial
*/
    --share-button-color: #ffffff;

}